<section class="section">
  <div class="section-title">
    <h2>Buscador de productos de Barcode lookup</h2>
    <p class="mb-0 text-center">Estado de la API:</p>
    <div class="row g-0">
      <div class="col-12 col-sm-6 text-center">
        <small>Llamadas restantes por minuto: {{min}}</small>
      </div>
      <div class="col-12 col-sm-6 text-center">
        <small>Llamadas restantes por mes: {{month}}</small>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="form-check mb-2 d-flex justify-content-center">
          <input class="form-check-input fs-5" type="checkbox" [(ngModel)]="isGenericSearch" id="flexCheckChecked"
                 (change)="changeSearch()">
          <label class="form-check-label fs-5 fw-bold" for="flexCheckChecked">
            Búsqueda genérica
          </label>
        </div>
        <form [formGroup]="form">
          <div class="row g-2">
            <div class="col-12">
              <input type="search" class="form-control" formControlName="search"
                     placeholder="{{(isGenericSearch ?'Palabras claves: título, categoría, marca, mpn':'Título')}}"
                     (input)="searchAPI($event)">
            </div>
            <div class="col-12 col-md-6" *ngIf="!isGenericSearch">
              <input type="search" class="form-control" maxlength="14" formControlName="barcode"
                     placeholder="Código de barras" (input)="searchAPI($event)"
                     [class.is-invalid]="(form.get('barcode')?.hasError('maxlength') ||
                     form.get('barcode')?.hasError('minlength')) && form.get('barcode')?.touched">
            </div>
            <div class="col-12 col-md-6" *ngIf="!isGenericSearch">
              <input type="search" class="form-control" formControlName="manufacturer" placeholder="Fabricante"
                     (input)="searchAPI($event)">
            </div>
            <div class="col-12 col-md-6" *ngIf="!isGenericSearch">
              <input type="search" class="form-control" formControlName="mpn" placeholder="Marca"
                     (input)="searchAPI($event)">
            </div>
            <div class="col-12 col-md-6" *ngIf="!isGenericSearch">
              <input type="search" class="form-control" formControlName="category" placeholder="Categoría"
                     (input)="searchAPI($event)">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <app-loader *ngIf="loader"></app-loader>
  <h3 *ngIf="!loader && !isActiveSearch" class="text-center text-uppercase">Productos de muestra</h3>

  <div *ngIf="!loader && !isActiveSearch" class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3
    row-cols-lg-4 g-3 row-cols-xl-5">
    <div class="col" *ngFor="let prod of productsList">
      <app-product (eventModal)="openModal($event, content)" [product]="prod"></app-product>
    </div>
  </div>

  <h3 *ngIf="!loader && isActiveSearch" class="text-center text-uppercase">Resultado de búsqueda</h3>

  <div *ngIf="!loader && isActiveSearch" class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3
    row-cols-lg-4 g-3 row-cols-xl-5">
    <div class="col" *ngFor="let prod of resultList">
      <app-product (eventModal)="openModal($event, content)" [product]="prod"></app-product>
    </div>
  </div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header border-bottom-0 pb-1">
    <h6 class="modal-title" id="modal-basic-title">{{objectModal.category}}</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body p-0">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of objectModal.images;let i = index;">
        <div class="p-2">
          <img src="{{image}}" class="img-carousel w-100" alt="{{objectModal.title}}"
               style="aspect-ratio: 4/3;object-fit: cover;object-position: center"/>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="card rounded-0 border-0">
      <div class="card-body">
        <h5 class="card-title">{{objectModal.title}}</h5>
        <p class="card-text mb-0 fw-bold">Código: {{objectModal.barcode_number}} </p>
        <hr class="my-1">
        <p class="card-text mb-0" *ngIf="objectModal.asin"><i class="bi bi-dot"></i>ID de Amazon:
          <b>{{objectModal.asin}}</b>
        </p>
        <p class="card-text mb-0" *ngIf="objectModal.brand"><i class="bi bi-dot"></i>Marca: <b>{{objectModal.brand}}</b>
        </p>
        <p class="card-text mb-1" *ngIf="objectModal.manufacturer"><i class="bi bi-dot"></i>Fabricante:
          <b>{{objectModal.manufacturer}}</b> <span *ngIf="objectModal.mpn"> | {{objectModal.mpn}}</span></p>
        <p class="card-text mb-0" *ngIf="objectModal.description">{{objectModal.description}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a role="button" class="btn btn-outline-dark rounded-pill" (click)="c('Save click')">Cerrar</a>
  </div>
</ng-template>
