/* You can add global styles to this file, and also import other style files */
section.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

div.section-title {
  padding-bottom: 2rem;
}

div.section-title h2 {
  text-transform: uppercase;
  text-align: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #000;
  border-radius: 50%;
}

.carousel-indicators [data-bs-target] {
  background-color: #000;
}
